* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: #008;
    color: #880;
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
}

hr {
    height: 2px;
    border-width: 0px;
    background-color: #880;
}

/* ------------------------------------------------------------------------- */
/* Basic header */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header h1 {
    font-size: 24pt;
}

/* ------------------------------------------------------------------------- */
/* Basic navigation */
nav {
    overflow: hidden;
    background-color: #880;
}

nav a {
    padding: 10px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #008;
}

nav a#quit {
    float: right;
}

nav a:hover {
    background-color: #FF0;
    color: #00F;
}

/* Navigation in smartphones */
@media screen and (max-width: 600px) {
    nav a {
        float: none !important;
    }
}

/* ------------------------------------------------------------------------- */
/* Terminal style */

article#terminal {
    background-color: #000;
    color: #888;
    padding: 10px;
}

/* Terminal input */
article#terminal input {
    display: block;
    width: 100%;
    background-color: inherit;
    color: inherit;
    font: inherit;
    border: 2px solid #888;
    border-radius: 0px;
    margin-bottom: 8px;
}

/* Terminal button */
article#terminal button {
    display: block;
    width: 100%;
    background: inherit;
    color: inherit;
    font: inherit;
    border: 2px solid #888;
    margin-bottom: 8px;
}

article#terminal button:hover {
    background-color: #888;
    color: #000;
}
